.main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.titleLi{
  width: 100%;
  text-align: center;
}
.textBox{
   width: 100%;
   display: flex;
   /* justify-content:space-between */
}

.title{
   text-align: center;
}